<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Event Management Dashboard</title>
    <link rel="stylesheet" href="/css/admin.css" />
    <script type="module" src="/javascript/pages/adminPage.js"></script>
</head>
    <%- include('partials/header'); -%>

<body>
  <div class="admin-container">
    <div class="admin-header">
      <h1>Event Management</h1>
      <div class="addEventBtn">
        <span class="material-symbols-outlined">add</span>
        <button>Add New Event</button>
      </div>
    </div class="admin-header">
    
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Event</th>
          <th>Date</th>
          <th>Venue</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="eventTableBody">
        
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div id="eventModal" class="modal hidden">
    <div class="modal-content">
      <h2 id="formTitle">Add Event</h2>
      <form id="eventForm">
        <input type="text" id="event-name" placeholder="Event Name"  />
        <div class="date">
          <input type="date" id="event-date"  />
          <input type="time" id="event-time"  />
        </div>
        <div class="location">
          <input type="text" id="event-location" placeholder="Event location"  />
          <input type="text" id="event-address" placeholder="Event address"  />
        </div>
        <select class="category-select">
         
        </select>
        <input type="text" id="event-description" placeholder="Description"  />
        <input type="text" id="event-venue" placeholder="Venue"  />
        <input type="number" id="event-price" placeholder="Price"  />
        <input type="file" id="event-image" name="img" accept="image/*">
        <div class="modal-buttons">
          <button type="submit" id="saveBtn">Save</button>
          <button type="button" id="cancelBtn">Cancel</button>
        </div>
      </form>
    </div>
  </div>

    <!-- Pagination -->
    <div class="pagination">
        <div class="pagination-buttons">
            <button class="pagination-btn prev-btn" disabled>&laquo; Prev</button>
            <div class="page-numbers"></div>
            <button class="pagination-btn next-btn">Next &raquo;</button>
        </div>
    </div>
</body>
</html>
