<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tech Conference 2025</title>
    <link rel="stylesheet" href="/css/event-info.css" />
    <script type="module" src="/javascript/pages/eventPage.js"></script>
</head>
    <%- include('partials/header'); -%>
<body>
  <section class="event-banner">

  </section>
</body>
</html>
