<!DOCTYPE html>
<html lang="en">
    <script type="module" src="/javascript/pages/homePage.js"></script>
    <body>

    <%- include('partials/header'); -%>

        <section class="hero">
            <div class="wave">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="content">
                <div class="logo"><span class="material-symbols-outlined">calendar_today</span></div>
                <h1>Discover Amazing Events</h1>
                <p>Find and book the best events in your area. From tech conferences to music festivals, we've got you covered.</p>
                <button class="btn orange">Browse Events</button>
            </div>
        </section>
        <section class="events">
            <div class="events-content">
                <h2>Upcoming Events</h2>
                <div class="p"><p>Discover and book your next exciting event. From concerts to conferences, we have something for everyone.</p></div>
                <div class="search-filter">
                    <div class="input-fields">
                        <!-- Filteration input -->
                        <div class="search-input">
                            <span class="material-symbols-outlined">search</span>
                            <input type="text" placeholder="Search events..." />
                        </div>

                        <!-- Category Filteration -->
                        <select class="category-select">

                        </select>
                    </div>
                    <!-- Sorting buttons -->
                    <div class="sorting-buttons">
                        <button>
                            <span class="material-symbols-outlined">id_card</span>
                            <p>Name</p>    
                        </button>
                    <button>
                            <span class="material-symbols-outlined">date_range</span>
                            <p>Date</p>    
                        </button>
                        <button>
                            <span class="material-symbols-outlined">payments</span>
                            <p>Price</p>    
                        </button>
                    </div>
                </div>
                <div class="event-cards">
                    <!-- Card temp start -->
                    
                    <!-- Card temp end -->
                </div>
                <div class="pagination">
                    <div class="pagination-buttons">
                        <button class="pagination-btn prev-btn" disabled>&laquo; Prev</button>
                        <div class="page-numbers"></div>
                        <button class="pagination-btn next-btn">Next &raquo;</button>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
