/* Home content */
/* Dynamic background */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.hero .wave {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #4973ff;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}
.hero .wave span {
	content: "";
	position: absolute;
	width: 325vh;
	height: 325vh;
	top: 0;
	left: 50%;
	transform: translate(-50%, -75%);
	background: #000;
}
.content {
	position: relative;
	z-index: 1;
	font-size: 4em;
	letter-spacing: 2px;
	color: #fff;
}
.hero .wave span:nth-child(1) {
	border-radius: 45%;
	background: rgba(20, 20, 20, 1);
	animation: animate 5s linear infinite;
}

.hero .wave span:nth-child(2) {
	border-radius: 40%;
	background: rgba(20, 20, 20, 0.5);
	animation: animate 10s linear infinite;
}
.hero .wave span:nth-child(3) {
	border-radius: 42.5%;
	background: rgba(20, 20, 20, 0.5);
	animation: animate 15s linear infinite;
}
@keyframes animate {
	0% {
		transform: translate(-50%, -75%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -75%) rotate(360deg);
	}
}

.hero {
	text-align: center;
	padding: 4rem 2rem;
}

.hero .logo i {
	font-size: 4rem;
	color: #fff;
}

.hero .logo {
	animation: logo-animate 1.7s linear;
}

@keyframes logo-animate {
	from {
		opacity: 0.2;
		scale: 0.8;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

.hero .content {
	margin-bottom: 16rem;
}

.hero .content h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
	margin-top: 0.9rem;
	font-family:
		Playfair Display,
		serif;
	color: #4973ff;
	animation: content-animate 1.5s linear;
}

.hero .content p {
	font-size: 20px;
	max-width: 700px;
	margin: 0 auto 2rem;
	animation: content-animate 3s linear;
}

@keyframes content-animate {
	0% {
		scale: 0.95;
		opacity: 0;
	}
	25% {
		scale: 0.97;
		opacity: .25;
	}
	75% {
		scale: 0.99;
		opacity: .75;
	}
	100% {
		scale: 1;
		opacity: 1;
	}
}

.hero .logo span {
	font-size: 11rem;
}

.hero h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
	margin-top: 0.9rem;
	font-family:
		Playfair Display,
		serif;
	color: black;
}

.hero p {
	font-size: larger;
	max-width: 700px;
	margin: 0 auto 2rem;
}

.btn.orange {
	background-color: rgb(249 115 22);
	font-size: medium;
	font-weight: 600;
	color: white;
	padding: 0.6rem 1.2rem;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

.btn.orange:hover {
	background-color: rgb(219, 104, 22);
	transition: 0.5s;
}

/* Events Section Content Start*/
.events {
	padding-top: 12rem;
	background-color: #111827;
	display: flex;
	justify-content: center;
}
.events-content {
	width: 80%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.events h2 {
	font-size: 2rem;
	font-family:
		Playfair Display,
		serif;
	margin-bottom: 0.5rem;
	color: #ffffff;
}

.events-content p {
	color: #9ca3af;
	font-size: 1.1rem;
	margin-top: 0.4rem;
	margin-bottom: 1.4rem;
	max-width: 41rem;
}

.events-content .p {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}

.events-section {
	padding: 2rem;
}

.section-title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.section-subtitle {
	color: #555;
	margin-bottom: 1.5rem;
}

.input-fields {
	display: flex;
	align-items: center;
	gap: 9px;
	width: 70rem;
}

.search-filter {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 1.5rem;
	margin: 1rem 0;
}

.search-input {
	display: flex;
	align-items: center;
	gap: 5px;
	width: 30%;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	background-color: #1f2937;
	border: transparent;
	color: #9ca3af;
	font-size: 1rem;
}

.search-input input {
	background-color: transparent;
	padding: 0.2rem;
	width: 100%;
	border: transparent;
}

.search-input input:focus {
	color: #9ca3af;
}

.search-input input:active,
.search-input input:focus {
	border: none;
	outline: none;
}

.search-input:active,
.search-input:focus {
	border: none;
	outline: none;
}

.category-select {
	padding: 0.5rem;
	border-radius: 8px;
	border: none;
    font-size: 1rem;
	height: 2.7rem;
	background-color: #1f2937;
	color: #9ca3af;
	padding: 0.5rem 0.6rem;
}

.category-select:focus {
	border: none;
	outline: none;
}

.category-select option:hover,
.category-select option:focus {
  color: #2563eb;
}

.sorting-buttons {
	display: flex;
	gap: 0.8rem;
	/* margin: 1.5rem 0; */
}

.sorting-buttons button {
	display: flex;
	gap: 0.3rem;
	align-items: center;
	justify-content: center;
	padding: 0.1rem 0.7rem;
	border: 1px solid transparent;
	border-radius: 8px;
	background: #1f2937;
	cursor: pointer;
	transition: all 0.2s ease;
}

.sorting-buttons button p {
	color: #d1d5db;
	font-size: 0.8rem;
}

.sorting-buttons button:hover {
	background-color: #374151;
	/* border-color: #cbd5e1; */
}

.sorting-buttons button:active,
.sorting-buttons button:focus {
	background-color: #2563eb;
	border-color: #3b82f6;
	box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.1);
}

.sorting-buttons span {
	font-size: 20px;
	margin-bottom: 0.3rem;
	color: #d1d5db;
}

.sorting-buttons p {
	margin: 0;
	font-size: 0.875rem;
	font-weight: 500;
	color: #1e293b;
}
